.back-layout-transparent {
  background: url('img/morningglory.jpg') center / cover;
}
.back-layout-transparent .mdl-layout__header,
.back-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

body {
  font-size: 16px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.demo-card-wide.mdl-card {
  margin: 0 auto;
  @include vertical-align();
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/welcome_card_tuts.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/*body {
  padding: 20px 0 0;
  background: #fafafa;
  position: relative;
}*/
